body {
    background-image: url(/uu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hh {
    height: 300px;
    padding: 5%;
    margin: 5px;
    background-image: url(https://raw.githubusercontent.com/LTUC/amman-201d9/master/class-08/lab-b/assets/frosted-cookie.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.ul {
    font-size: 50px;
    color: aqua;
}

h1 {
    margin-left: 30%;
    position: sticky;
    top: 0;
    font-size: 55px;
    color: yellow;
    text-align: center;
}

#table {
    border-radius: 30px;
    font-size: larger;
    width: 100%;
    border: 5px red dashed;
    height: 400px;
    margin-top: 10%;
}

th {
    color: rgb(229, 255, 0);
}

td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: rgba(139, 0, 0, 0.493);
    color: rgb(201, 83, 201);
}

tr:nth-child(even) {
    background-color: rgba(33, 204, 10, 0.514);
    color: rgb(66, 137, 245);
}

.dd {
    color: yellow;
}

.d,
.dd {
    margin: 10%;
}

footer {
    font-size: x-large;
    background-image: url(https://raw.githubusercontent.com/LTUC/amman-201d9/master/class-08/lab-b/assets/chinook.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
}

.pp {
    background-color: rgba(47, 193, 212, 0.255);
}